<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">@Html.ActionLink("A4A", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active" margin-left ="30px" margin-right="30px">
                @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="nav-item" margin-left ="30px" margin-right="30px">
                    @Html.ActionLink("Problem Set", "ProblemSet", "Home")
                </li>
                <li class="nav-item" margin-left ="30px" margin-right="30px">
                    @Html.ActionLink("About", "About", "Home")
                </li>
                <li class="nav-item" margin-left ="30px" margin-right="30px">
                    @Html.ActionLink("Contact", "Contact", "Home")
                </li>
            </ul>
        </div>
    </nav>

@*<nav class="navbar navbar-expand-lg navbar-light bg-light">
    @Html.ActionLink("A4A", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">@Html.ActionLink("Home     ", "Index", "Home")</li>
            <li class="nav-item">@Html.ActionLink("Problem Set      ", "ProblemSet", "Home")</li>
            <li class="nav-item">@Html.ActionLink("About        ", "About", "Home")</li>
            <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home")</li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>*@

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
