<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding-top: unset; padding-bottom:  unset">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">@Html.ActionLink("A4A", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active nav-link">
                @Html.ActionLink("HOME", "Index", "Home")
            </li>
            <li class="nav-item active nav-link">
                @Html.ActionLink("USER", "ViewAllUsers", "User")
            </li>
            <li class="nav-item nav-link">
                @Html.ActionLink("Problem Set", "ProblemSet", "Problem")
            </li>
            <li class="nav-item nav-link">
                @Html.ActionLink("CONTEST", "ViewContests", "Contest")
            </li>
            <li class="nav-item nav-link">
                @Html.ActionLink("GROUP", "ViewAllGroups", "Group")
            </li>
            <li class="nav-item nav-link">
                @Html.ActionLink("ORGANIZATION", "ViewAllOrgs", "Org")
            </li>
            <li class="nav-item nav-link">
                @Html.ActionLink("Team", "ViewAllTeams", "Team")
            </li>
            <li class="nav-item nav-link">
                @Html.ActionLink("About", "About", "Home")
            </li>
            <li class="nav-item nav-link">
                @Html.ActionLink("Contact", "Contact", "Home")
            </li>
            <li class="nav-item nav-link" style="margin-left:320px">
                @Html.ActionLink("Login", "Login", "User")
            </li>
            <li class="nav-item nav-link">
                @Html.ActionLink("Register", "CreateUser", "User")
            </li>
        </ul>
    </div>
</nav>
<br/>
<h4 style="color: #a52a2a">❌ Sorry, You must Sign in</h4>

<div class="container body-content">
    @RenderBody()
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
