@using Microsoft.Ajax.Utilities
@using OpenQA.Selenium.Internal
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">@Html.ActionLink("A4A", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                @{ 
                    string s = ViewBag.UserName ;
                    int id = 0;
                    
                    bool Done = int.TryParse(Convert.ToString(ViewBag.ID), out id);
                }
                <li class="nav-item active nav-link">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="nav-item active nav-link">
                    @Html.ActionLink("User"  , "ViewAllUsers", "User", new { id = id, UserName = s }, null)
                </li>
                <li class="nav-item nav-link">
                    @Html.ActionLink("Problem Set", "ProblemSet", "Home" )
                </li>
                <li class="nav-item nav-link">
                    @Html.ActionLink("Contest", "ViewContests", "Contest")
                </li>
                <li class="nav-item nav-link">
                    @Html.ActionLink("Group", "ViewAllGroups", "Group")
                </li>
                <li class="nav-item nav-link">
                    @Html.ActionLink("Org", "ViewAllOrgs", "Org")
                </li>
                <li class="nav-item nav-link">
                    @Html.ActionLink("Team", "ViewAllTeams", "Team")
                </li>
                <li class="nav-item nav-link">
                    @Html.ActionLink("About", "About", "Home")
                </li>
                <li class="nav-item nav-link">
                    @Html.ActionLink("Contact", "Contact", "Home")
                </li>
                <li class="nav-item nav-link" style="margin-left:500px" id="User">
                    @Html.ActionLink(s , "ViewUser", "User", new { id = id, IV =id, UserName = s}, null)
                </li>
                <li class="nav-item nav-link">
                    @Html.ActionLink("Logout", "Logout", "User")
                </li>
            </ul>

        </div>
    </nav>

    @*<nav class="navbar navbar-expand-lg navbar-light bg-light">
            @Html.ActionLink("A4A", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Home     ", "Index", "Home")</li>
                    <li class="nav-item">@Html.ActionLink("Problem Set      ", "ProblemSet", "Home")</li>
                    <li class="nav-item">@Html.ActionLink("About        ", "About", "Home")</li>
                    <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>*@

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
