
@{
    ViewBag.Title = "EmptyGroups";
    if (ViewBag.ID == 0 || ViewBag.ID == null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/User_LayoutPage1.cshtml";
    }
    string UserName = ViewBag.UserName;
    int id = 0;
    int.TryParse(Convert.ToString(ViewBag.ID), out id);
}
<tr>
    <th>
        @Html.ActionLink("Groups", "ViewAllGroups", new {id, UserName})
    </th>
    <th>
        @Html.ActionLink("My Groups", "ViewMyGroups", new {id, UserName})
    </th>
    <th>
        @Html.ActionLink("Create Group", "CreateGroup", new {id, UserName})
    </th>
</tr>

<br/>
<h2 style="color: #a52a2a">❌ Sorry, you have no groups..</h2>
<br />
<button style="margin-right:6px;" class="btn btn-outline-primary" onclick="location.href='@Url.Action("ViewAllGroups", "Group")';return false;">All Groups &raquo;</button>
<button style="margin-right:6px;"class="btn btn-outline-primary" onclick="location.href='@Url.Action("ViewMyGroups", "Group")';return false;">My Groups &raquo;</button>
<button style="margin-right:6px;"class="btn btn-outline-primary" onclick="location.href='@Url.Action("CreateGroup", "Group")';return false;">Create Group &raquo;</button>
<br /><br /><br />
<div>
	@Html.ActionLink("Back to Home Page", "Index", "Home")
</div>