@model IEnumerable<A4A.Models.GroupModel>

@{
    ViewBag.Title = "ViewMyGroups";
    if (ViewBag.ID == 0 || ViewBag.ID == null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/User_LayoutPage1.cshtml";
    }
    string UserName = ViewBag.UserName;
    int id = 0;
    int.TryParse(Convert.ToString(ViewBag.ID), out id);
}

<h2>View My Groups</h2>
<tr>
    <th>
        @Html.ActionLink("Groups", "ViewAllGroups", new {id, UserName})
    </th>
    <th>
        @Html.ActionLink("My Groups", "ViewMyGroups", new {id, UserName})
    </th>
    <th>
        @Html.ActionLink("Create Group", "CreateGroup", new {id, UserName})
    </th>
</tr>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdminID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GroupID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdminID)
        </td>
        <td>
            @Html.ActionLink("View", "ViewGroupContests", new { GroupId = item.GroupID, id = id, UserName = UserName })
            @Html.ActionLink("Edit", "Edit", new {/* id=item.PrimaryKey */}) |
            @Html.ActionLink("Details", "Details", new {/* id=item.PrimaryKey */}) |
            @Html.ActionLink("Delete", "Delete", new {/* id=item.PrimaryKey */})
        </td>
    </tr>
}

</table>
