@model A4A.Models.AccountModel

@{
	ViewBag.Title = "ViewUser";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>👀 View User</h2>
<br />

<table id="dtBasicExample" class="table table-hover table-bordered " cellspacing="0">
	<tr class="table-primary">
		<th style="font-style:inherit"> User Name</th>
		<th> Email </th>
		<th> Rating </th>
		<th> Solve Problems </th>
		<th> Binding Problems </th>
	</tr>
	<tr>
		<td>
			@Html.DisplayFor(model => model.Fname)
			@Html.DisplayFor(model => model.Lname)
		</td>
		<td> @Html.DisplayFor(model => model.Email) </td>
		<td> @Html.DisplayFor(model => model.Rating) </td>
		<td> @Html.DisplayFor(model => model.Solved) </td>
		<td> @Html.DisplayFor(model => model.Binding)</td>
	</tr>
	
</table>

<p>
    @Html.ActionLink("Back to View Users", "ViewAllUsers")
</p>
