@model A4A.Models.AccountModel

@{
    ViewBag.Title = "ViewUser";
    if (ViewBag.ID == 0 || ViewBag.ID == null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/User_LayoutPage1.cshtml";
    }
}

<h2>Profile</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fname) 
            @Html.DisplayFor(model => model.Lname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Binding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Binding)
        </dd>

    </dl>
</div>
@{ 
    string s = ViewBag.UserName;
    bool ShowFriends = ViewBag.ShowFriends;
    int IV = 0;
    bool Done = int.TryParse(Convert.ToString(ViewBag.ID), out IV);

}
<p>
       @{ if (ShowFriends)
            {
           <span style="margin-right:15px;">@Html.ActionLink("Friends", "Friends", "User", new { ID = IV, UserName = s }, null)</span>
            @Html.ActionLink("Add Friend", "AddFriend", "User", new { ID = IV, UserName = s, Email = "" }, null);
            }
        }

</p>
