@model IEnumerable<A4A.Models.UsersModel>

@{
    ViewBag.Title = "ViewAllUsers";
    if (ViewBag.id == 0 || ViewBag.id == null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/User_LayoutPage1.cshtml";
    }
}

<h2>Users</h2>

<p>
    @Html.ActionLink("Create New", "CreateUser")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>
    @{
        string s = ViewBag.UserName;
        int IV = 0;
        bool Done = int.TryParse(Convert.ToString(ViewBag.ID), out IV);
        bool ShowFriends = false;
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @{
                    if (item.ID == IV) { ShowFriends = true; } else { ShowFriends = false; }

                }
                @Html.ActionLink("View", "ViewUser", "User", new { id = item.ID, IV = IV, UserName = s ,ShowFriends =ShowFriends}, null)
            </td>
        </tr>
    }

</table>
