@model IEnumerable<A4A.Models.ProblemModel>

@{
    ViewBag.Title = "Problem Set";
    if (ViewBag.ID == 0)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/User_LayoutPage1.cshtml";
    }
}
<h2>ProblemSet</h2>
<script>$('table').DataTable();</script>

<table id="dtBasicExample" class="table table-hover table-bordered " cellspacing="0" width="100%">
    <tr>
        <th class="th-sm">
            @Html.DisplayNameFor(model => model.ProblemName)
        </th>
        <th class="th-sm">
            @Html.DisplayNameFor(model => model.ProblemTopic)
        </th>
        <th class="th-sm">
            @Html.DisplayNameFor(model => model.ProblemDifficulty)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProblemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProblemTopic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProblemDifficulty)
            </td>
            <td>
                @Html.ActionLink("View", "ViewProblem", "Problem", new { ProblemLink = item.ProblemLink, UserName = ViewBag.UserName, id = ViewBag.ID, ProblemID = item.ProblemID }, null)
            </td>
        </tr>
    }

</table>