@model IEnumerable<A4A.Models.TeamModel>

@{
    ViewBag.Title = "ViewGroupTeams";
    if (ViewBag.ID == 0 || ViewBag.ID == null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/User_LayoutPage1.cshtml";
    }
    string UserName = ViewBag.UserName;
    int id = 0;
    int.TryParse(Convert.ToString(ViewBag.ID), out id);
}

<h2>Team Groups</h2>
<tr>
    <th>
        @Html.ActionLink("Teams", "ViewAllTeams", new { id, UserName })
    </th>
    <th>
        @Html.ActionLink("My Teams", "ViewGroupTeams", new { id, UserName })
    </th>
    <th>
        @Html.ActionLink("Create Team", "CreateTeam", new { id, UserName })
    </th>
</tr>
<p>
    @Html.ActionLink("Create New", "CreateTeam")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeamName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TeamName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
